apiVersion: 1
providers:
- name: {{ dashboard_name }}
  orgId: 1
  folder: 
  folderUid: ''
  type: file
  disableDeletion: false
  editable: true
  updateIntervalSeconds: 10
  options:
    path: {{ dashboards_location }}
