apiVersion: 1
datasources:
- name: {{ datasource_name }}
  type: {{ datasource_type }}
  url: http://{{ datasource_hostname }}:{{ datasource_host_port }}
#  isDefault: true
  access: proxy
  editable: true
