networks:
  monitoring:
    driver: bridge

services:
  prometheus:
    container_name: {{ prometheus_container_name }}
    image: {{ image_prometheus_version }}
    volumes:
            - {{ path_volume_prometheus }}prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - {{ prometheus_port }}
    networks:
      - monitoring

  grafana:
    image: {{ image_grafane_version }}
    volumes:
            - {{ path_volume1_grafana }}grafana.ini:/etc/grafana/grafana.ini
            - {{ path_volume2_grafana }}datasource.yaml:/etc/grafana/provisioning/datasources/default.yaml
            - {{ path_volume3_grafana }}:/etc/grafana/provisioning/dashboards/
    ports:
      - {{ grafana_ports }}:{{ grafana_ports }}
    networks:
     - monitoring
