global:
  scrape_interval:     15s 
  evaluation_interval: 15s 
scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['{{ prometheus_host }}:{{ prometheus_port }}']
     
  - job_name: 'node'
    static_configs:
       - targets: ['{{ node_host }}:{{ node_port }}']
